
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
  tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  
  tr {
    border-bottom: 1px solid #ddd;
  }
  tbody tr:hover {background-color: orange;}